{
    "env": {
        "node": true,
        "es6": true,
        "commonjs": false
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "quotes": ["error", "single"],
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
    }
}
